html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

.main-container {
  background: linear-gradient(to bottom, #222831, #393E46);
  height: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container .nav-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  align-items: center;
  text-align: center;
}

.icons svg:hover,
.icons-bottom svg:hover {
  fill: rgb(255, 200, 107);
  transition: 0.1s;
  transform: scale(1.5);
}

.icons svg path:hover,
.icons-bottom svg path:hover {
  fill: rgb(255, 200, 107);
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
ul li a {
  text-decoration: none;
  padding: 20px;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  align-self: center;
  color: rgb(235, 235, 237);
}
ul li a:hover {
  color: rgb(255, 200, 107);
  transition: 0.5s ease-out;
  cursor: pointer;
}

.iam {
  display: flex;
  justify-content: center;
}
.iam .main-img {
  max-width: 700px;
  margin-left: 100px;
}

.name {
  margin-top: 200px;
  margin-left: 100px;
}
.name h2 {
  font-size: 2.2rem;
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
}
.name a {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
}

h3 {
  font-size: 2.2rem;
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
}

.bold {
  font-size: 3.3rem;
  color: rgb(255, 200, 107);
}

.contact-btn {
  background-color: transparent;
  color: rgb(255, 200, 107);
  border: 5px solid rgb(255, 200, 107);
  border-radius: 7px;
  height: 4rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.contact-btn h3 {
  font-size: 1.8rem;
  margin: auto;
}
.contact-btn:hover {
  color: #222831;
  background-color: rgb(255, 200, 107);
  transition-duration: 0.8s;
  cursor: pointer;
}

.gmail,
.github,
.linkedin {
  fill: rgb(235, 235, 237);
}

.line {
  border-top: 2px solid rgb(255, 200, 107);
}

.about-container {
  background: linear-gradient(to bottom, #393E46, #222831);
  background-color: #393E46;
  padding: 4rem;
}

.about-text h1,
.sills-text h1,
.portfolio-text h1,
.about-text p {
  font-size: 3.3rem;
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
}

.about-text h1,
.experiance h1,
.contact h1,
.skills-container h1,
.portfolio-text h1 {
  text-shadow: 0 0 0.5rem rgb(255, 200, 107);
}

.about-text p {
  font-size: 1.5rem;
}

.linebeforetext {
  display: flex;
  justify-content: space-between;
}
.linebeforetext p {
  flex: 1 1 auto;
  margin-top: 0;
}
.linebeforetext .line2 {
  flex: 0 0 60px;
  border-top: 3px solid rgb(255, 200, 107);
  margin-right: 10px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-container {
  display: grid;
  max-width: 80%;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 300px);
  margin: 0 auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 10px;
}
.card-container .skills-cards {
  background-color: #222831;
  border-radius: 20px;
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.card-container .skills-cards img {
  width: 120px;
  height: 120px;
  margin: 2rem;
}
.card-container .skills-cards:hover {
  background-color: #EC994B;
  transition-duration: 0.8s;
  cursor: pointer;
}

.card-container .show-skills {
  transform: translateX(0);
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
}
.portfolio-container .img-container {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 350px);
  margin: 0 auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-bottom: 5rem;
}
.portfolio-container .img-container .portfolio-cards {
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.portfolio-container .img-container .portfolio-cards .port {
  transform: translateX(0);
}
.portfolio-container .img-container .portfolio-cards img {
  height: 350px;
  width: 350px;
  border-radius: 10px;
}

.experiance {
  background: linear-gradient(to bottom, #222831, #393E46);
  position: relative;
  padding: 4rem;
}
.experiance h1 {
  margin-top: 0;
  position: absolute;
  top: -35px;
  font-size: 3.3rem;
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2rem;
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.timeline .left {
  color: rgb(235, 235, 237);
  font-size: 1.5rem;
  text-align: right;
  padding: 0 3rem;
}
.timeline .left h2 {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.timeline:nth-of-type(even) {
  transform: translateX(-400%);
}

.timeline.show {
  transform: translateX(0);
}

.right {
  padding: 0 3rem;
  border-left: 2px solid rgb(235, 235, 237);
  position: relative;
}
.right h2 {
  font-size: 2.3rem;
  margin: 0;
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
}
.right h3 {
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
}
.right p {
  font-size: 1.3rem;
  color: rgb(129, 130, 131);
  font-family: "Noto Sans", sans-serif;
}

.right h2::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #EC994B;
  border-radius: 50%;
  transform: translateX(-50%);
  left: 0;
  box-shadow: 0 0 2rem #EC994B;
}

.contact {
  background: linear-gradient(to bottom, #393E46, #222831);
  position: relative;
  padding: 4rem;
}
.contact h1 {
  margin-top: 0;
  position: absolute;
  top: -35px;
  font-size: 3.3rem;
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
}
.contact .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
}
.contact .social .box1 {
  flex: 0 1 350px;
  margin: 10px;
  background-color: #222831;
  text-align: center;
  align-self: center;
  display: flex;
  height: 100px;
  border-radius: 10px;
  align-items: center;
}
.contact .social .box1 a {
  padding-right: 0.5rem;
}
.contact .social .box1 img {
  width: 70px;
}
.contact .social .box2 {
  flex: 0 1 350px;
  text-align: center;
  background-color: #222831;
  display: flex;
  height: 100px;
  margin: 10px;
  align-items: center;
  border-radius: 10px;
}
.contact .social .box2 p {
  padding-right: 0.5rem;
}
.contact .social .box2 img {
  width: 70px;
}
.contact .social .box3 {
  flex: 0 1 350px;
  background-color: #222831;
  text-align: center;
  display: flex;
  height: 100px;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
}
.contact .social .box3 img {
  width: 70px;
}

.social p,
.social a {
  margin-left: 1rem;
  font-size: 1.4rem;
  color: rgb(255, 200, 107);
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}
.social p:hover,
.social a:hover {
  transform: scale(1.1);
}

.icons-bottom {
  justify-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

footer {
  background: linear-gradient(to bottom, #222831, #393E46);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 200, 107);
  font-family: "Roboto", sans-serif;
  text-align: center;
}
footer h2 {
  text-align: center;
  align-self: center;
  font-size: 2.3rem;
}

@media (max-width: 1200px) {
  .main-container .nav-container {
    flex-direction: column-reverse;
    padding: 0 2rem;
  }
  .iam {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .iam .main-img {
    max-width: 400px;
    margin: 0;
    margin-top: 70px;
  }
  .iam .name {
    margin: 0;
  }
  .card-container {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 5, 300px;
  }
  .portfolio-container .img-container {
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(3, 350px);
  }
}
@media (max-width: 864px) {
  .card-container {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(5, 150px);
  }
  .card-container .skills-cards img {
    width: 60px;
    height: 60px;
    margin: 0.5rem 0 0 0;
  }
  .card-container .skills-cards h3 {
    font-size: 1.5rem;
  }
  .portfolio-container .img-container {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 200px);
  }
  .portfolio-container .img-container .portfolio-cards img {
    height: 200px;
    width: 200px;
  }
  footer h2 {
    font-size: 2rem;
  }
}
@media (max-width: 580px) {
  footer h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 530px) {
  .contact,
.about-container {
    padding: 2rem 0 0 0.2rem;
  }
  .main-container .nav-container,
.icons-bottom {
    padding-left: 0;
  }
  .name .bold,
.name h2 {
    font-size: 1.5rem;
  }
  .name h3 {
    font-size: 1.2rem;
  }
  .name .contact-btn {
    height: 2rem;
    width: 150px;
    border: 1px solid rgb(255, 200, 107);
  }
  ul {
    font-size: 1rem;
  }
  .iam .main-img {
    max-width: 250px;
    margin: 0;
    margin-top: 70px;
  }
  .main-container {
    height: 700px;
  }
  .card-container {
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(5, 140px);
    padding: 0;
  }
  .card-container .skills-cards img {
    width: 60px;
    height: 60px;
    margin: 0.5rem 0 0 0;
  }
  .card-container .skills-cards h3 {
    font-size: 1.1rem;
  }
  .about-text h1,
.sills-text h1,
.portfolio-text h1,
.contact h1,
.experiance h1 {
    font-size: 2rem;
  }
  .about-text p {
    font-size: 1rem;
    color: rgb(129, 130, 131);
  }
  .portfolio-container .img-container {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 150px);
  }
  .portfolio-container .img-container .portfolio-cards img {
    height: 150px;
    width: 150px;
  }
  .experiance {
    padding: 2rem 0 2rem 0.2rem;
  }
  .experiance h1 {
    top: -10px;
  }
  .timeline {
    margin: 2rem 0;
    grid-template-columns: 1fr 3fr;
  }
  .timeline .right {
    padding: 0 1.5rem;
  }
  .timeline .right h2 {
    font-size: 1.8rem;
  }
  .timeline .right h3 {
    font-size: 1.5rem;
  }
  .timeline .right p {
    font-size: 1rem;
  }
  .timeline .left {
    padding: 0 1.5rem 0 0;
  }
  .timeline .left h2 {
    font-size: 1.5rem;
  }
  .box1 a,
.box3 p {
    font-size: 1rem;
  }
  .box2 p {
    font-size: 0.8rem;
  }
  .contact .social .box1,
.contact .social .box2,
.contact .social .box3 {
    flex: 0 1 250px;
    height: 70px;
  }
  .contact .social .box1 img,
.contact .social .box2 img,
.contact .social .box3 img {
    width: 50px;
  }
}
@media (max-width: 320px) {
  .card-container {
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(5, 100px);
    padding: 0;
  }
  .card-container .skills-cards img {
    width: 40px;
    height: 40px;
    margin: 0.5rem 0 0 0;
  }
  .card-container .skills-cards h3 {
    font-size: 1.1rem;
  }
  .portfolio-container .img-container {
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(3, 100px);
  }
  .portfolio-container .img-container .portfolio-cards img {
    height: 100px;
    width: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
