html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

.main-container {
  background: linear-gradient(to bottom, #222831, #393E46);
  height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3rem;
  padding-bottom: 0;
}
.main-container .nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column-reverse;
}

.icons svg:hover,
.icons-bottom svg:hover {
  fill: rgb(255, 200, 107);
  transition: 0.1s;
  transform: scale(1.5);
}

.icons svg path:hover,
.icons-bottom svg path:hover {
  fill: rgb(255, 200, 107);
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}
ul li a {
  text-decoration: none;
  padding: 20px;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  align-self: center;
  color: rgb(235, 235, 237);
  font-size: 1.1rem;
}
ul li a:hover {
  color: rgb(255, 200, 107);
  transition: 0.5s ease-out;
  cursor: pointer;
}

.iam .main-img {
  max-width: 250px;
  margin: 0;
  margin-top: 70px;
  padding-left: 40px;
}

.gmail,
.github,
.linkedin {
  fill: rgb(235, 235, 237);
}

.name .bold {
  font-size: 1.5rem;
}

ul {
  font-size: 1rem;
}

.contact-btn {
  background-color: transparent;
  color: rgb(255, 200, 107);
  border: 1px solid rgb(255, 200, 107);
  height: 1rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  border-radius: 10px;
}
.contact-btn:hover {
  color: #222831;
  background-color: rgb(255, 200, 107);
  transition-duration: 0.8s;
  cursor: pointer;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name h2 {
  font-size: 1.2rem;
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
}
.name a {
  display: flex;
  width: 100px;
  height: 20px;
  font-size: 1rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.name .bold,
.name h2 {
  font-size: 1.5rem;
}

.bold {
  color: rgb(255, 200, 107);
}

h3 {
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
}

.linebeforetext {
  display: flex;
  justify-content: space-between;
}
.linebeforetext p {
  flex: 1 1 auto;
  margin-top: 0;
}
.linebeforetext .line2 {
  flex: 0 0 60px;
  border-top: 3px solid rgb(255, 200, 107);
  margin-right: 10px;
}

.about-text h1,
.experiance h1,
.contact h1,
.skills-container h1,
.portfolio-text h1 {
  text-shadow: 0 0 0.5rem rgb(255, 200, 107);
}

.about-text h1,
.sills-text h1,
.portfolio-text h1,
.about-text p {
  font-size: 3.3rem;
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
}

.card-container {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(5, 100px);
  margin: 0 auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 0;
}
.card-container .skills-cards {
  background-color: #222831;
  border-radius: 20px;
  transform: translateX(-600%);
  transition: transform 0.6s ease;
}
.card-container .skills-cards img {
  width: 40px;
  height: 40px;
  margin: 0.5rem 0 0 0;
}
.card-container .skills-cards h3 {
  font-size: 1.1rem;
}

.card-container .show-skills {
  transform: translateX(0);
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
}
.portfolio-container .img-container {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(2, 150px);
  margin: 0 auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-bottom: 5rem;
}
.portfolio-container .img-container .portfolio-cards {
  transform: translateX(-600%);
  transition: transform 0.6s ease;
  position: relative;
}
.portfolio-container .img-container .portfolio-cards img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.about-container {
  background: linear-gradient(to bottom, #393E46, #222831);
  background-color: #393E46;
  padding: 1rem 0.3rem;
}

.about-text h1,
.sills-text h1,
.portfolio-text h1,
.contact h1,
.experiance h1 {
  font-size: 2rem;
}

.about-text p {
  font-size: 1.2rem;
  color: rgb(129, 130, 131);
}

.skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.portfolio-container .img-container {
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(3, 100px);
}
.portfolio-container .img-container .portfolio-cards img {
  height: 100px;
  width: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
  opacity: 0;
  transition: 0.2s opacity ease-in;
  border-radius: 9px;
}
.overlay .links a {
  font-size: 0.4rem;
  text-decoration: none;
  color: rgb(235, 235, 237);
  margin: 0;
  border: 1px solid rgb(255, 200, 107);
  padding: 5px;
  border-radius: 5px;
  width: 20px;
  height: fit-content;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}
.overlay .links a:hover, .overlay .links a:active {
  background-color: #E04D01;
  color: white;
}
.overlay p {
  font-size: 0.5rem;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
}

.portfolio-cards:hover .overlay,
.portfolio-cards:active .overlay {
  opacity: 0.8;
}

.portfolio-container .img-container .portfolio-cards.port {
  transform: translateX(0);
}

.experiance {
  background: linear-gradient(to bottom, #222831, #393E46);
  padding: 0 0 2rem 0;
}
.experiance h1 {
  margin-top: 0;
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
  align-items: center;
  text-align: center;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 2rem 0;
  transform: translateX(-600%);
  transition: transform 0.6s ease;
}
.timeline .left {
  color: rgb(235, 235, 237);
  text-align: right;
  padding: 0 1.5rem 0 0;
  min-width: 85px;
}
.timeline .left h2 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

.timeline.show {
  transform: translateX(0);
}

.right {
  border-left: 2px solid rgb(235, 235, 237);
  position: relative;
}
.right h2 {
  font-size: 1.3rem;
  padding: 0 0.5rem 0 1.5rem;
  margin: 0;
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
}
.right h3 {
  color: rgb(235, 235, 237);
  padding: 0 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.right p {
  font-size: 1rem;
  color: rgb(129, 130, 131);
  font-family: "Noto Sans", sans-serif;
  padding: 0 0.5rem;
}

.right h2::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #EC994B;
  border-radius: 50%;
  transform: translateX(-50%);
  left: 0;
  box-shadow: 0 0 2rem #EC994B;
}

.contact {
  background: linear-gradient(to bottom, #393E46, #222831);
  padding: 0.3rem;
}
.contact h1 {
  margin-top: 0;
  color: rgb(235, 235, 237);
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.contact .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}
.contact .social .box1 {
  flex: 0 1 250px;
  margin: 10px;
  text-align: center;
  align-self: center;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.contact .social .box1 a {
  padding-right: 0.5rem;
}
.contact .social .box1 img {
  width: 50px;
}
.contact .social .box2 {
  flex: 0 1 250px;
  text-align: center;
  display: flex;
  height: 50px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.contact .social .box2 p {
  padding-right: 0.5rem;
}
.contact .social .box2 img {
  width: 50px;
}
.contact .social .box3 {
  flex: 0 1 250px;
  text-align: center;
  display: flex;
  height: 50px;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
}
.contact .social .box3 img {
  width: 50px;
}

.social p,
.social a {
  margin-left: 1rem;
  font-size: 1rem;
  color: rgb(255, 200, 107);
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}

.social a {
  font-size: 1.1rem;
}

.icons-bottom {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

footer {
  background: linear-gradient(to bottom, #222831, #393E46);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 200, 107);
  font-family: "Roboto", sans-serif;
  text-align: center;
}
footer h2 {
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
}

@media (min-width: 480px) {
  .contact,
.about-container {
    padding: 2rem 0 1rem 0.2rem;
  }
  .main-container .nav-container,
.icons-bottom {
    padding-left: 0;
  }
  .name .bold,
.name h2 {
    font-size: 1.5rem;
  }
  .name h3 {
    font-size: 1.2rem;
  }
  .name .contact-btn {
    height: 2rem;
    width: 150px;
    border: 1px solid rgb(255, 200, 107);
  }
  ul {
    font-size: 1rem;
  }
  .iam .main-img {
    max-width: 250px;
    margin: 0;
    margin-top: 70px;
    padding-left: 110px;
  }
  .main-container {
    height: 700px;
  }
  .card-container {
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(5, 140px);
    padding: 0;
  }
  .card-container .skills-cards img {
    width: 60px;
    height: 60px;
    margin: 0.5rem 0 0 0;
  }
  .card-container .skills-cards h3 {
    font-size: 1.1rem;
  }
  .about-text h1,
.sills-text h1,
.portfolio-text h1,
.contact h1,
.experiance h1 {
    font-size: 2rem;
  }
  .about-text p {
    font-size: 1rem;
    color: rgb(129, 130, 131);
  }
  .portfolio-container .img-container {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 150px);
  }
  .portfolio-container .img-container .portfolio-cards img {
    height: 150px;
    width: 150px;
  }
  .overlay .links a {
    font-size: 0.8rem;
    width: 30px;
    margin: 5px;
  }
  .overlay p {
    font-size: 0.8rem;
  }
  .experiance {
    padding: 2rem 0 2rem 0.2rem;
  }
  .experiance h1 {
    top: -10px;
  }
  .timeline {
    margin: 2rem 0;
    grid-template-columns: 1fr 3fr;
  }
  .timeline .right {
    padding: 0 1.5rem;
  }
  .timeline .right h2 {
    font-size: 1.8rem;
  }
  .timeline .right h3 {
    font-size: 1.5rem;
  }
  .timeline .right p {
    font-size: 1rem;
  }
  .timeline .left {
    padding: 0 1.5rem 0 0;
    min-width: 85px;
  }
  .timeline .left h2 {
    font-size: 1.5rem;
  }
  .box1 a,
.box3 p {
    font-size: 1rem;
  }
  .box2 p {
    font-size: 0.8rem;
  }
  .contact .social .box1,
.contact .social .box2,
.contact .social .box3 {
    flex: 0 1 250px;
    height: 70px;
  }
  .contact .social .box1 img,
.contact .social .box2 img,
.contact .social .box3 img {
    width: 50px;
  }
}
@media (min-width: 580px) {
  .card-container {
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: repeat(5, 220px);
  }
  .card-container .skills-cards img {
    width: 100px;
    height: 100px;
    margin: 0.5rem 0 0 0;
  }
  .card-container .skills-cards h3 {
    font-size: 1.5rem;
  }
  .portfolio-container .img-container {
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: repeat(3, 220px);
  }
  .portfolio-container .img-container .portfolio-cards img {
    height: 220px;
    width: 220px;
  }
  footer h2 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  ul li a {
    font-size: 1.5rem;
  }
  .iam {
    display: flex;
    justify-content: center;
  }
  .iam .main-img {
    max-width: 400px;
    margin: 0;
    margin-top: 70px;
  }
  .iam .name {
    margin: 0;
  }
  .overlay .links a {
    font-size: 1.2rem;
    width: 50px;
    margin: 5px;
    height: fit-content;
  }
  .overlay p {
    font-size: 1.2rem;
  }
  .card-container {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 5, 300px;
    margin-bottom: 3rem;
  }
  .card-container .skills-cards img {
    width: 110px;
    height: 110px;
  }
  .card-container .skills-cards h3 {
    font-size: 1.5rem;
  }
  .portfolio-container .img-container {
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(3, 350px);
  }
  .portfolio-container .img-container .portfolio-cards img {
    height: 350px;
    width: 350px;
  }
}
@media (min-width: 1024px) {
  .main-container .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-container {
    height: 1000px;
    padding: 4rem;
    padding-top: 2rem;
  }
  .iam {
    display: flex;
    justify-content: space-around;
  }
  .iam .main-img {
    min-width: 650px;
    padding-left: 0;
  }
  .name {
    margin-top: 200px;
    margin-left: 100px;
    text-align: left;
    align-items: flex-start;
  }
  .name h2 {
    font-size: 2.2rem;
    color: rgb(235, 235, 237);
    font-family: "Roboto", sans-serif;
  }
  .name a {
    display: flex;
    font-size: 2rem;
    padding: 0.3rem;
    align-items: center;
    justify-content: center;
  }
  .name .bold {
    font-size: 3.3rem;
    color: rgb(255, 200, 107);
  }
  .name h3 {
    font-size: 2.2rem;
  }
  .name .contact-btn {
    background-color: transparent;
    color: rgb(255, 200, 107);
    border: 5px solid rgb(255, 200, 107);
    border-radius: 10px;
    width: 230px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    margin-bottom: 1rem;
  }
  .name .contact-btn:hover {
    color: #222831;
    background-color: rgb(255, 200, 107);
    transition-duration: 0.8s;
    cursor: pointer;
  }
  .about-container {
    padding: 4rem;
  }
  .about-text h1,
.sills-text h1,
.portfolio-text h1,
.about-text p {
    font-size: 3.3rem;
  }
  .about-text p {
    font-size: 1.5rem;
  }
  .linebeforetext {
    display: flex;
    justify-content: space-between;
  }
  .linebeforetext p {
    flex: 1 1 auto;
    margin-top: 0;
  }
  .linebeforetext .line2 {
    flex: 0 0 60px;
    border-top: 3px solid rgb(255, 200, 107);
    margin-right: 10px;
  }
  .card-container {
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: repeat(3, 280px);
  }
  .card-container .skills-cards img {
    width: 120px;
    height: 120px;
    margin: 2rem;
  }
  .portfolio-container .img-container {
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: repeat(2, 280px);
  }
  .portfolio-container .img-container .portfolio-cards {
    position: relative;
  }
  .portfolio-container .img-container .portfolio-cards img {
    height: 280px;
    width: 280px;
  }
  .overlay .links a {
    font-size: 1.3rem;
    margin: 5px;
    width: 100px;
    height: 25px;
  }
  .overlay p {
    font-size: 1.5rem;
  }
  .experiance h1 {
    margin-top: 0;
    font-size: 3.3rem;
  }
  .timeline {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2rem;
  }
  .timeline .left {
    font-size: 1.5rem;
  }
  .timeline .right {
    padding: 0 3rem;
    border-left: 2px solid rgb(235, 235, 237);
    position: relative;
  }
  .timeline .right h2 {
    font-size: 2.3rem;
    margin: 0;
    padding: 0;
  }
  .timeline .right h3 {
    padding: 0;
  }
  .timeline .right p {
    font-size: 1.3rem;
    padding: 0;
  }
  .contact {
    background: linear-gradient(to bottom, #393E46, #222831);
    padding: 4rem;
  }
  .contact h1 {
    font-size: 3.3rem;
  }
  .contact .social {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .contact .social .box1 {
    flex: 0 1 350px;
    margin: 10px;
    text-align: center;
    align-self: center;
    display: flex;
    height: 100px;
  }
  .contact .social .box1 img {
    width: 70px;
  }
  .contact .social .box2 {
    flex: 0 1 350px;
    text-align: center;
    display: flex;
    height: 100px;
    margin: 10px;
    align-items: center;
  }
  .contact .social .box2 img {
    width: 70px;
  }
  .contact .social .box3 {
    flex: 0 1 350px;
    text-align: center;
    display: flex;
    height: 100px;
    align-items: center;
    margin: 10px;
  }
  .contact .social .box3 img {
    width: 70px;
  }
  .social p,
.social a {
    margin-left: 1rem;
    font-size: 1.4rem;
    color: rgb(255, 200, 107);
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
  }
  footer {
    height: 200px;
  }
  footer h2 {
    font-size: 2.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
