html{
    scroll-behavior: smooth;
}
body {
    margin:0 auto;
}
.main-container {
    background: linear-gradient(to bottom,$color-primary ,$color-secondary);
    height: 1000px;
    margin:0 auto;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    .nav-container {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        align-items:center;
        text-align: center;
    }
}
.icons svg:hover,
.icons-bottom svg:hover{
    fill: $color-bright;
    transition: 0.1s;
    transform: scale(1.5);
}
.icons svg path:hover,
.icons-bottom svg path:hover {
    fill: $color-bright;
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items:center;
    font-size: 1.6rem;
    li a{
        text-decoration: none;
        padding: 20px;
        font-family: $font-stack-secondary;
        text-align: center;
        align-self:center;
        color:$color-text;
        &:hover {
            color: $color-bright;
            transition: 0.5s ease-out;
            cursor: pointer;
        } 
    }
}
.iam {
    display: flex;
    justify-content: center;
    .main-img {
        max-width: 700px;
        margin-left: 100px;
    }
}
.name {
   margin-top: 200px;
   margin-left: 100px;
   h2 {
    font-size: 2.2rem;
    color:$color-text;
    font-family: $font-stack-primary;
   } 
}
h3 {
    font-size: 2.2rem;
    color:$color-text;
    font-family: $font-stack-primary;
} 
.bold {
    font-size: 3.3rem;
    color:$color-bright;
}
.contact-btn {
    font-size: 1.5rem;
    background-color: transparent;
    color:$color-bright;
    border: 5px solid $color-bright;
    border-radius: 7px;
    height: 4rem;
    font-family: $font-stack-primary;
    width: 200px;
    &:hover {
        color:$color-primary;
        background-color:$color-bright;
        transition-duration: 0.8s;
        cursor: pointer;
    }
}
.gmail,
.github,
.linkedin {
    fill:$color-text;
}
.line {
    border-top: 2px solid $color-bright;
}

/////////////////////////// ABOUT //////////////////////////////////////

.about-container {
    background: linear-gradient(to bottom,$color-secondary ,$color-primary);
    background-color:$color-secondary;
    padding: 4rem;
}
.about-text h1,
.sills-text h1,
.portfolio-text h1,
.about-text p {
    font-size: 3.3rem;
    color:$color-text;
    font-family: $font-stack-primary;
}
.about-text h1,
.experiance h1,
.contact h1,
.skills-container h1,
.portfolio-text h1 {
    text-shadow: 0 0 0.5rem $color-bright; 
}
.about-text p{
    font-size: 1.5rem;
}
.linebeforetext {
    display: flex;
    justify-content:space-between;
    p {
        flex: 1 1 auto;
        margin-top: 0;
    }
    .line2 {
        flex: 0 0 60px;
        border-top: 3px solid $color-bright;
        margin-right: 10px;
    }
}
//////////////////////////////// MY SKILLS //////////////////////////

.skills-container {
    display:flex;
    flex-direction: column;
    text-align: center;
}
.card-container {
    display: grid;
    max-width: 80%;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3,300px);
    margin: 0 auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 10px;
    .skills-cards {
        background-color: $color-primary;
        border-radius: 20px;
        img {
            width:120px;
            height: 120px;
            margin: 2rem;
        }
        &:hover{
            background-color: #EC994B;
            transition-duration: 0.8s;
            cursor: pointer;
        }
    }
}
.portfolio-container {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
    .img-container {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2,350px);
        margin: 0 auto;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        padding-bottom: 5rem;
        .portfolio-cards img {
            height: 350px;
            width: 350px;
            border-radius: 10px;
        }
    }
}
////////////////////////// Experiance /////////////////////////
.experiance {
    background: linear-gradient(to bottom,$color-primary ,$color-secondary);
    position: relative;
    padding: 4rem;
    h1 {
        margin-top: 0;
        position: absolute;
        top:-35px;
        font-size: 3.3rem;
        color: $color-text;
        font-family: $font-stack-primary;
    }
}
.timeline{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2rem;
    .left {
        color: $color-text;
        font-size: 1.5rem;
        text-align: right;
        padding: 0 3rem;
        h2 {
            margin: 0;
            font-family: $font-stack-primary;
        }
    }
}
.right {
    padding: 0 3rem;
    border-left: 2px solid $color-text;
    position: relative;
    h2 {
        font-size: 2.3rem;
        margin: 0;
        color: $color-text; 
        font-family: $font-stack-primary;
    }
    h3 {
        color: $color-text;
        font-family: $font-stack-primary; 
    }
    p {
        font-size: 1.3rem;
        color: $color-text-secondary;
        font-family: $font-stack-secondary;
    }
}
.right h2::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #EC994B;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
    box-shadow: 0 0 2rem #EC994B;
    
}

//////////////////////////// Contact Me /////////////////


.contact{
    background: linear-gradient(to bottom,$color-secondary ,$color-primary);
    position: relative;
    padding: 4rem;
    h1 {
        margin-top: 0;
        position: absolute;
        top:-35px;
        font-size: 3.3rem;
        color: $color-text;
        font-family: $font-stack-primary;
    }
    .social {
        display: flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        max-width: 70%;
        margin: 0 auto;
        .box1 {
            flex: 0 1 350px;
            margin:10px;
            background-color: $color-primary;
            text-align: center;
            align-self:center;
            display: flex;
            height: 100px;
            border-radius: 10px;
            align-items:center;
            a {
            padding-right: .5rem;
            }
        }
        .box2 {
            flex: 0 1 350px;
            text-align: center;
            background-color: $color-primary;
            display: flex;
            height: 100px;
            margin:10px;
            align-items:center;
            border-radius: 10px;
            p {
                padding-right: .5rem;
                }
        }
        .box3{
            flex: 0 1 350px;
            background-color: $color-primary;
            text-align: center;
            display: flex;
            height: 100px;
            align-items:center;
            margin:10px;
            border-radius: 10px;
            
        }
    }
}
.social p,
.social a {
    margin-left: 1rem;
    font-size: 1.4rem;
    color:$color-bright;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    &:hover {
        transform: scale(1.1);
    }
}

.icons-bottom {
    justify-content:center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
/////////////////////////// Footer ///////////////////////
footer {
    background: linear-gradient(to bottom,$color-primary ,$color-secondary);
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:$color-bright;
    font-family: $font-stack-primary;
    text-align: center;
    h2 {
        text-align: center;
        align-self:center;
        font-size: 2.3rem;
    }
}

//////////////////////////////// Mobile layout /////////////////

@media (max-width:1200px) {
    
    .main-container .nav-container {
        flex-direction: column-reverse;
        padding: 0 2rem;
    }
    .iam {
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        .main-img {
            max-width: 400px;
            margin: 0;
            margin-top: 70px;
        }
        .name {
            margin: 0;
        }
    }
    .card-container {
        grid-template-columns: repeat(2,300px);
        grid-template-rows: (5,300px);
    }
    .portfolio-container .img-container {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(3,350px);
    }
}

@media (max-width:864px) {
    .card-container {
        grid-template-columns: repeat(2,150px);
        grid-template-rows: repeat(5,150px);
        .skills-cards img {
            width: 60px;
            height: 60px;
            margin: .5rem 0 0 0;
        }
        .skills-cards h3 {
            font-size: 1.5rem;
            
        }
    }
    .portfolio-container .img-container {
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(3,200px);
        .portfolio-cards img {
            height: 200px;
            width: 200px;
        }
    }
    footer h2{
        font-size: 2rem;

    }
    
}
@media (max-width:580px) {
    footer h2{
        font-size: 1.5rem;
    }
}
@media (max-width:530px) {
    .contact,
    .about-container {
        padding: 2rem 0 0 .2rem;
    }
    .main-container .nav-container,
    .icons-bottom {
        padding-left: 0;
    }

    .name .bold,
    .name h2,
    .name h3{
        font-size: 1.5rem;
    }
    .name .contact-btn {
        height: 2rem;
        width:100px;
        font-size: .7rem;
        border: 2px solid $color-bright;
    }
    ul {
        font-size: 1rem;
    }
   
   .iam .main-img {
        max-width: 250px;
        margin: 0;
        margin-top: 70px;
    }
    .main-container {
        height: 700px;
    }
    .card-container {
        grid-template-columns: repeat(2,140px);
        grid-template-rows: repeat(5,140px);
        padding: 0;
        .skills-cards img {
            width: 60px;
            height: 60px;
            margin: .5rem 0 0 0;
        }
        .skills-cards h3 {
            font-size: 1.1rem;
            
        }
    }
    .about-text h1,
    .sills-text h1,
    .portfolio-text h1,
    .contact h1,
    .experiance h1{
    font-size: 2rem;
    }
    .about-text p {
        font-size: 1rem;
        color: $color-text-secondary;
    }
    .portfolio-container .img-container {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3,150px);
        .portfolio-cards img {
            height: 150px;
            width: 150px;
        }
    }
   
    .experiance {
        padding:2rem 0 2rem 0.2rem;
        h1 {
            top: -10px;
            
        }
    }
    .timeline {
        margin: 2rem 0;
        grid-template-columns: 1fr 3fr;
        .right {
            padding: 0 1.5rem;
            h2 {
                font-size: 1.8rem;
            }
            h3 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1rem;
            }
        }
        .left {
            padding: 0 1.5rem 0 0;
            h2 {
                font-size: 1.5rem;
            }
        }
    }
    .box1 a,
    .box3 p {
        font-size: 1rem;
    }
    .box2 p {
        font-size: .8rem;
    }
    
    
   
     
   
}
    
