body {
    margin:0 auto;
}
.main-container {
    background-color: $color-primary;
    height: 1000px;
    margin:0 auto;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    .nav-container {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        align-items:center;
        text-align: center;
    }
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items:center;
    font-size: 1.6rem;
    li {
        padding: 20px;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
        align-self:center; 
    }
}
li:nth-child(2), 
li:nth-child(3),
input::placeholder {
    color:$color-text-secondary;
}
li:first-child {
    color:$color-text;
}
 
input {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: $color-secondary;
    border: 0px solid;
 } 
 input::placeholder {
    padding-left: 20px;
    font-size: 1.6rem;
    color:$color-bright;
} 
.iam {
    display: flex;
    justify-content: center;
    .main-img {
        max-width: 700px;
        margin-left: 100px;
    }
}
.name {
   margin-top: 200px;
   margin-left: 100px;
   h2 {
    font-size: 2.2rem;
    color:$color-text;
    font-family: $font-stack-primary;
   } 
}
h3 {
    font-size: 2.2rem;
    color:$color-text;
    font-family: $font-stack-primary;
} 
.bold {
    font-size: 3.3rem;
    color:$color-bright;
}
.contact-btn {
    font-size: 1.5rem;
    background-color: transparent;
    color:$color-bright;
    border: 5px solid $color-bright;
    border-radius: 7px;
    height: 4rem;
    font-family: $font-stack-primary;
    width: 200px;
}
.gmail,
.github,
.linkedin {
    fill:$color-text;
}
.line {
    border-top: 2px solid $color-bright;
}

/////////////////////////// ABOUT //////////////////////////////////////

.about-container {
    background-color:$color-secondary;
    padding: 4rem;
}
.about-text h1,
.sills-text h1,
.portfolio-text h1,
.about-text p {
    font-size: 3.3rem;
    color:$color-text;
    font-family: $font-stack-primary;
    
}
.about-text p{
    font-size: 1.5rem;
}
.linebeforetext {
    display: flex;
    justify-content:space-between;
    p {
        flex: 1 1 auto;
        margin-top: 0;
    }
    .line2 {
        flex: 0 0 60px;
        border-top: 3px solid $color-bright;
        margin-right: 10px;
    }
}
//////////////////////////////// MY SKILLS //////////////////////////

.skills-container {
    display:flex;
    flex-direction: column;
    text-align: center;
}
.card-container {
    display: grid;
    max-width: 80%;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3,300px);
    margin: 0 auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 10px;
    .skills-cards {
        background-color: $color-primary;
        border-radius: 20px;
        img {
            width:120px;
            height: 120px;
            margin: 2rem;
        }
        &:hover{
            background-color: #EC994B;
            transition-duration: 0.8s;
        }
    }
}
.portfolio-container {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
    .img-container {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2,350px);
        margin: 0 auto;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        padding-bottom: 5rem;
        .portfolio-cards img {
            height: 350px;
            width: 350px;
            border-radius: 10px;

        }
        
    }
}
////////////////////////// Experiance /////////////////////////
.experiance {
    background-color: $color-primary;
    position: relative;
    padding: 4rem;
    h1 {
        margin-top: 0;
        position: absolute;
        top:-35px;
        font-size: 3.3rem;
        color: $color-text;
    }
}
.timeline{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2rem;
    .left {
        color: $color-text;
        font-size: 1.5rem;
        text-align: right;
        padding: 0 3rem;
        h2 {
            margin: 0;
        }
    }
}
.right {
    padding: 0 3rem;
    border-left: 2px solid $color-text;
    position: relative;
    h2 {
        font-size: 2.3rem;
        margin: 0;
        color: $color-text; 
    }
    h3 {
        color: $color-text; 
    }
    p {
        font-size: 1.3rem;
        color: $color-text-secondary;
    }
}
.right h2::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #EC994B;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
    box-shadow: 0 0 2rem #EC994B;
    
}

//////////////////////////// Contact Me /////////////////


.contact{
    background-color: $color-secondary;
    position: relative;
    padding: 4rem;
    h1 {
        margin-top: 0;
        position: absolute;
        top:-35px;
        font-size: 3.3rem;
        color: $color-text;
    }
    .social {
        display: flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        max-width: 70%;
        margin: 0 auto;
        .box1 {
            flex: 0 1 350px;
            margin:10px;
            background-color: $color-primary;
            text-align: center;
            align-self:center;
            display: flex;
            height: 100px;
            border-radius: 10px;
            align-items:center;
        }
        .box2 {
            flex: 0 1 350px;
            text-align: center;
            background-color: $color-primary;
            display: flex;
            height: 100px;
            margin:10px;
            align-items:center;
            border-radius: 10px;
        }
        .box3{
            flex: 0 1 350px;
            background-color: $color-primary;
            text-align: center;
            display: flex;
            height: 100px;
            align-items:center;
            margin:10px;
            border-radius: 10px;
        }
    }
}
.social p {
    margin-left: 1rem;
    font-size: 1.4rem;
    color:$color-bright;
}

.icons-bottom {
    justify-content:center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    

}

/////////////////////////// Footer ///////////////////////

footer {
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    font-size: 2.5rem;
    color:$color-bright;
}

