$color-primary:rgba(52,53,58,255);
$color-secondary:rgba(50,51,59,255);
$color-bright:rgba(255,200,107,255);
$color-text:rgba(235,235,237,255);
$color-text-secondary:rgba(129,130,131,255);
$color-search:rgba(61,62,66,255);


$font-stack-primary: 'Roboto', sans-serif;
$font-stack-secondary: 'Noto Sans', sans-serif;